@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.error-message {
  color: red;
}

.success-message {
  color: green;
}

.input-range__track--active {
  @apply bg-[#ec5e2a];
}

.input-range__slider {
  @apply bg-[#ec5e2a] border-[#ec5e2a];
}

.input-range__label {
  @apply text-[#000000] text-sm font-bold;
}
.input-range__track--background,
.input-range__slider-container {
  @apply bg-[#f8c2ae];
}
